<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DataModel.Properties.Settings.connectString" connectionString="Data Source=TIAMU;Initial Catalog=workSearсher;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>